body
  background: white
  color: black

table.creatures
  thead tr
    background: #ccc
    th
      text-align: left
      padding: 8px
  tbody
    td.class, td.family, td.creature, td.trait, td.material_name
      white-space: nowrap