@use "body"
@use "modal"
@use "name-plate"
@use "tooltip"
@use "party-spell"
@use "party-trait"
@use "creature-name-tooltip"
@use "desc"
@use "member-group"
@use "spells-modal"
@use "select-table"
@use "traits-modal"
@use "party-pool"

@import "variables"

ul
  margin: 0

input[type=text]
  border: 1px solid $outline
  background: inherit
  color: inherit
  padding: 5px
  border-radius: 5px

// ----
.party
  margin: 20px

  h2
    font-size: 1rem
    text-align: center
    margin: 0

.party-member
  display: flex
  width: 100%
  border: 1px solid $outline
  margin: 10px
  background-color: $surface
  color: $on-surface

  .left-pane
    max-width: 180px
    min-width: 180px
    border-right: 1px solid $outline
    display: flex
    flex-direction: column

    .sprite-stat
      display: flex
      align-items: center
      flex-grow: 1

      .sprite
        margin: 0 1rem
        flex-grow: 1

      ul.stats
        padding-inline-start: 0
        margin: 0
        padding: 0 0.5rem 0 1rem
        > li
          display: block
          > .personality
            width: 1rem
            height: 1rem
          > .personality.positive
            color: #4caf50
          > .personality.negative
            color: #f44336
        .tooltip-text
          min-width: auto
          padding: 1rem
          text-align: center

          > span
            display: block
            margin-bottom: 0.5rem
          > img
            width: 1rem
            height: 1rem
          > button
            border-radius: 50%
            width: 40px
            height: 40px
            background-color: $surface-variant
            color: $on-surface-variant
            font-size: 24px
          > button:hover
            background-color: rgba($primary, 92%)
            color: $on-primary

    > .class
      background-color: #00000080
      text-align: center
      padding: 0.25em 1em

  .left-pane.death
    background-color: #6a1b9a80
  .left-pane.nature
    background-color: #558b2f80
  .left-pane.life
    background-color: #9e9d2480
  .left-pane.sorcery
    background-color: #28359380
  .left-pane.chaos
    background-color: #c6282880

  .right-pane
    flex-grow: 1
    padding-inline: 0

.party-item-container
  display: flex
  flex-direction: column
  padding-inline: 0
  &__item
    display: block
    border-bottom: 1px solid $outline


.trait-description .tooltip-text, .description .tooltip-text
  max-width: 20rem
  white-space: normal
  text-align: center
