body
  background: white
  color: black
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  font-size: 90%

.party
  margin: 20px

.party-member
  display: flex
  width: 100%
  border: 1px solid grey

  .left-pane
    width: 200px
    border-right: 1px solid #ccc

  .right-pane
    flex-grow: 1
    padding-inline: 0

    ul
      display: flex
      flex-direction: column
      margin: 0
      padding-inline: 0

      li
        display: flex
        //height: 4rem
        border-bottom: 1px solid #ccc

        .detail
          flex-grow: 1
          border-right: 1px solid #ccc

        .detail.non-empty
          display: flex

          .creature
            width: 15%
            > span
              display: block
              margin: 15px
              //line-height: calc(4rem - 40px)
              padding: 5px
              background: #eee
              > img
                margin-right: 4px
          .trait-name
            width: 15%
            white-space: nowrap
            > span
              //min-height: 4rem
          .trait-description
            width: 70%
            > span
              //line-height: 1rem

        .detail.empty
          text-align: center
          //line-height: 4rem
          color: #888

        .clear
          min-width: 4rem
          min-height: 4rem
          border-right: 1px solid #ccc

          button
            background: transparent
            border: none
            width: 100%
            height: 100%
            color: #888
            cursor: pointer

          button:hover
            background: red
            color: white

table.creatures
  thead tr
    background: #ccc
    th
      text-align: left
      padding: 8px
  tbody
    td.class, td.family, td.creature, td.trait, td.material_name
      white-space: nowrap